.weather-container {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.weather-container p {
  font-size: 0.8rem;
}

.fa-temperature-low {
  font-size: 2rem;
}

.icon-container {
  display: flex;
  width: max-content;
}

.weather-icon {
  object-fit: contain;
  height: 2rem;
}

.icon-container p {
  font-size: 2rem;
}

.city-name {
  margin-left: 1.5rem;
}
